<%= form_for [@journal,@lesson] do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Тема' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :homework, 'Д\З' %><br>
    <%= f.text_field :homework %>
  </div>
  <div class="field">
    <%= f.label :date, 'Дата' %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit 'Подтвердить', :class => "btn" %>
  </div>
<% end %>
