<h1 class="page-header"><%=@journal.form.name%> <%=@journal.subject.name%></h1>

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <%@lessons.each do |lesson|%>
                <th><%=lesson.date.strftime("%d/%m")%></th>
                <%end%>
                
            </tr>
        </thead>
</table>
<%= link_to 'Уроки', class_journal_lessons_path(@journal) %>    




<script type="text/javascript">

var editor; // use a global for the submit and return data rendering in the examples
 
$(document).ready(function() {

    if (!$('#example_wrapper').length > 0) {
    editor = new $.fn.dataTable.Editor( {
        ajax: "<%=class_journal_table_change_path(@journal)%>",
        table: "#example",
        fields: [
            {
                label: "#",
                name: "number"
            },
            {
                label: "Фамилия:",
                name: "last_name"
            }, {
                label: "Имя",
                name: "first_name"
            }, 
        <%@lessons.each_with_index do |lesson,index|%>{ 
            label: "Оценка",
            name: "lesson_<%=lesson.id%>"      
        } <%=',' if @lessons.size-1!=index%>
        <%end%>
        ]

    } );
 
    // Activate the bubble editor on click of a table cell
    
    
        $('#example').DataTable( {
            scrollY: 300,
            paging: false,
            info: false,    
            searching: false,
            ajax: "<%=class_journal_table_path(@journal)%>",
            columns: [            
                { data: "number" },
                { data: "last_name" },
                { data: "first_name" },
                <%@lessons.each_with_index do |lesson,index|%>
                { data: "lesson_<%=lesson.id%>"} 
               <%=','if @lessons.size-1!=index%>
                <%end%>
        ]
    } );
}
$('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
        if ($(this).index()>2) {
            editor.inline( this );
        }
    } );
} );
</script>