<h1 class="page-header"><%=@journal.form.name%> <%=@journal.subject.name%></h1>

<table id="journal" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <%@lessons.each do |lesson|%>
                <th><%=lesson.date.strftime("%d/%m")%></th>
                <%end%>
                
            </tr>
        </thead>
        <tbody>
            <%@pupils.each do |pupil|%>
                <tr>
                  <td><%=pupil.number%></td>
                  <td><%=pupil.surname%></td>
                  <td><%=pupil.name%></td>  
                  <%@lessons.each do |lesson|%>
                    <td><a href="#" data-pk="<%=lesson.id.to_s+'_'+pupil.id.to_s%>"><%=get_pupil_mark(pupil,lesson)%></a></td>
                <%end%>
                </tr>
            <%end%>
        </tbody>
</table>
<%= link_to 'Уроки', class_journal_lessons_path(@journal) %>    




<script type="text/javascript">

$(document).ready(function() {
$('#journal a').editable({
    type: 'text',
    name: 'mark',
    url: '<%=class_journal_table_change_path(@journal)%>',
    title: 'Введите оценку',
    emptytext: 'Нет оценки'
});
} );
</script>