<%if notice !=nil %>
<p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<h1 class="page-header"><%=t('forms')%></h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Название</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @forms.each do |form| %>
        <tr>
          <td><%= form.name %></td>
          <td><%= link_to 'Редактировать', edit_form_path(form) %></td>
          <td><%= link_to 'Удалить', form, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
          <td><%= link_to 'Предметы', form_edit_subjects_path(form)%></td>
          <td><%= link_to 'Ученики', form_pupils_path(form)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Добавить класс', new_form_path %>
