<%if notice !=nil %>
<p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<h1 class="page-header">Список учеников <%=@form.name%></h1>

<div class="table-responsive">
<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>
        Фамилия
      </th>
      <th>
        Имя
      </th>
      <th colspan="2" />
    </tr>
  </thead>

  <tbody>
    <% @pupils.each do |pupil| %>
      <tr>
        <td><%=pupil.surname%></td>
        <td><%=pupil.name%></td>
        <td><%= link_to 'Редактировать', edit_form_pupil_path(@form,pupil) %></td>
        <td><%= link_to 'Удалить', [@form,pupil], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to 'Добавить ученика', new_form_pupil_path %>
